<li class="nav-item dropdown">
    <!-- Menu Toggle Button -->
    <a class="nav-link" data-toggle="dropdown" href="#">
        <!-- The user image in the navbar-->
        <div class="image">
            <img src="@User.GetUserProperty(CustomClaimTypes.AvatarURL)" class="menu-user-image img-circle elevation-1" alt="ui">
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div class="dropdown-item" style="text-align: center !important;">
            <!-- User Image -->
            <img src="@User.GetUserProperty(CustomClaimTypes.AvatarURL)" alt="user Avatar" class="img-size-64 mt-2 img-circle" />

            <h3 class="dropdown-item-title mt-1">
                @User.GetUserProperty(CustomClaimTypes.GivenName) @User.GetUserProperty(CustomClaimTypes.Surname)
            </h3>
            <!-- The message -->
            <p class="text-sm text-muted">@User.GetUserProperty(CustomClaimTypes.Email)</p>
        </div>

        <div class="dropdown-divider"></div>

        <form asp-controller="Account" asp-action="LogOff" method="post">
            <button type="submit" class="dropdown-item bg-light h6" style="text-align: left !important;"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;Sair</button>
        </form>
    </div>
</li>